body {
    background-color: #021e3b;
}

.form_login {
    background-color: #e2ebef;
}

.form_register {
    background-color: #e2ebef;
}

.card {
    background-color: #e2ebef;
}

.form-control:focus {
    border-color: #529eeb;
    box-shadow: 0 0 0 0.25rem #b2d8e8;
}